.DS_Store
*.bin
bin/*
obj/*
.cproject
.project
*.gitignore*

test.gm
test_main.cc
*randomwalk*
*communities*

test/gps/output
test/gps/.classpath
test/gps/.project
test/gps/gps_errors/output
test/gps/bin
test/giraph/output
test/giraph/.classpath
test/giraph/.project
test/giraph/giraph_errors/output
test/giraph/bin

src/parse/gm_grammer.output
src/parse/gm_grammer.tab.c

apps/output_cpp/generated/*.h
apps/output_cpp/generated/*.cc
apps/output_cpp/gm_graph/src/*.o
apps/output_cpp/bin/*
apps/output_cpp/gm_graph/lib/*
